.bookingsBtn {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 800;
  font-size: 16px;
  border-radius: 500px;
  overflow: hidden;
  background-color: #808080;
  color: ghostwhite;
  border-radius: 10px;
}
.bookingsBtn span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}
