.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 105px;
    height: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    width: 140px;
    height: 60px;
  }
}
