.logoutBtn {
  position: relative;
  font-size: 32px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #e83b57;
  background-color: #e0e0e0;
}
