.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start start;
  gap: 5px;
  padding: 10px;
  min-height: 100vh;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}
.bookingList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.bookingList p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}
.bookingList span {
  font-size: 18px;
  font-weight: 500;
  margin-left: 3px;
}
.timeInput {
  width: auto;
  height: 20px;
  margin-left: 3px;
  padding: 5px;
  border-radius: 30px;
  border: 1px solid;
  transition: border 0.3s ease;
  outline: none;
  font-size: 15px;
}
.timeInput:hover,
.timeInput:active,
.timeInput:focus {
  border: 1px solid #0fd568;
}

.bookingItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  width: 330px;
  border: 3px solid #061b5b;
  border-radius: 5px;
}
.procProcedures {
  display: flex;
  flex-direction: column;
}

.buttonAdminWork {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.buttonAdminWorking {
  background-color: green;
  color: white;
}

.buttonAdminNonWorking {
  background-color: red;
  color: white;
}

.backAdminBtn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.timeEdit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}

.editBtn,
.delBtn,
.updateBtn {
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  min-width: 120px;
}

.editBtn {
  background-color: #0022ff;
  color: white;
}

.delBtn {
  background-color: #ff2200;
  color: white;
  margin-left: 75px;
}

.updateBtn {
  background-color: #28a745;
  color: white;
  display: none;
}

.timeEdit.editing .editBtn {
  display: none;
}

.timeEdit.editing .updateBtn {
  display: inline-block;
}
.adminForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.adminFormLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}
.adminFormInput {
  width: 300px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid #090a0a;
  padding: 15px;
  transition: border 0.3s ease;
  outline: none;
}
.adminFormInput:hover,
.adminFormInput:active,
.adminFormInput:focus {
  border: 1px solid #0fd568;
}
.accordionAdminHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categoryAdminTitle {
  font-size: 25px;
  font-weight: 500;
}

.procedureAdminItem {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
  margin-top: 5px;
}
.procedureAdminCheckbox {
  height: 25px;
  width: 25px;
  transition: border 0.3s ease;
  outline: none;
}
.procedureAdminCheckbox:hover,
.procedureAdminCheckbox:active,
.procedureAdminCheckbox:focus {
  border: 1px solid #0fd568;
}
.timeAdminLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}
.timeAdminInput {
  width: 150px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid;
  padding: 15px;
  transition: border 0.3s ease;
  outline: none;
}
.timeAdminInput:hover,
.timeAdminInput:active,
.timeAdminInput:focus {
  border: 1px solid #0fd568;
}
.addAdminBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #046b26;
  color: white;
  border: none;
  border-radius: 5px;
}
