.dayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  min-height: 100vh;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.working {
  background-color: green;
  color: white;
}

.nonWorking {
  background-color: red;
  color: white;
}

.bookingList {
  list-style: none;
  padding: 0;
}

.bookingItem {
  background: #f9f9f9;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: 300px;
  height: auto;
}

.backButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
