.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.statsButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.statsButton:hover {
  background-color: #45a049;
}

.buttonContainer {
  margin-top: 20px;
}
