.app {
  max-width: 375px;
}

@media (min-width: 320px) and (max-width: 374px) {
  .app {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .app {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .app {
    max-width: 1440px;
  }
}
