.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  min-height: 100vh;
}

.contactsAddress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.contactsTitle {
  font-size: 32px;
  font-weight: 700;
}
.contactsItem {
  font-size: 20px;
  font-weight: 500;
}
.contactsSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.contactsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.contactsIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.icon {
  width: 40px;
  height: 40px;
}
.contactsIcon span {
  font-size: 18px;
  font-weight: 700;
}
